.odessa {
  font-weight: bold;
  padding-left: 50px;
  cursor: pointer;
}

.navbar-ul-item {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  cursor: pointer;
}

.anchor-style {
  padding-right: 10px;
}

.ul-items {
  width: 100%;
}

@media only screen and (max-width: 845px) {
  .odessa {
    padding-left: 10px;
  }
}
