.SignUp-Username {
  width: 80%;
  height: 8.4%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1.7px solid rgb(223, 238, 242);
  position: absolute;
  top: 31%;
  right: 10%;
}

.placeholder-Username {
  width: auto;
  height: auto;
  position: absolute;
  left: 9.6%;
  top: 27%;
  padding: 0 2px 0 2px;
  font-size: 10px;
  color: #000;
}
