.blob1 {
  position: absolute;
  top: 10vh;
  left: 10vh;
  fill: #389dbc;
  width: 50vmax;
  z-index: -3;
  animation: move1 38s ease-in-out infinite;
  transform-origin: 10% 10%;
}

@keyframes move1 {
  0% {
    transform: scale(1) translate(1vw, 3vh);
  }
  9% {
    transform: scale(0.8) translate(9vw, 10vh) rotate(40deg);
  }
  32% {
    transform: scale(0.6, 1) translate(150vw, 35vh) rotate(160deg);
  }
  33% {
    transform: scale(0.6, 1) translate(150vw, 35vh) rotate(160deg);
  }
  50% {
    transform: scale(0.8, 0.5) translate(110vw, 50vh) rotate(80deg);
  }
  51% {
    transform: scale(0.8, 0.5) translate(110vw, 50vh) rotate(80deg);
  }
  64% {
    transform: scale(0.9, 0.6) translate(80vw, 50vh) rotate(30deg);
  }
  84% {
    transform: scale(1.3, 0.8) translate(-8vw, 0vh) rotate(-30deg);
  }
  85% {
    transform: scale(1.3, 0.8) translate(-8vw, 0vh) rotate(-30deg);
  }
  100% {
    transform: scale(1) translate(1vw, 3vh);
  }
}

.blob2 {
  position: absolute;
  top: 0;
  left: -10vw;
  fill: #ffcb00;
  width: 50vmax;
  z-index: -2;
  animation: move2 46s ease-in-out infinite;
  transform-origin: 5% 5%;
}

@keyframes move2 {
  0% {
    transform: scale(1) translate(1vw, 3vh);
  }
  9% {
    transform: scale(1.1, 0.6) translate(-5vw, 3vh) rotate(-20deg);
  }
  25% {
    transform: scale(0.8, 1.2) translate(20vw, 7vh) rotate(60deg);
  }
  52% {
    transform: scale(1.3, 0.7) translate(60vw, 50vh) rotate(30deg);
  }
  68% {
    transform: scale(0.9, 1) translate(100vw, -5vh) rotate(50deg);
  }
  85% {
    transform: scale(1.3, 0.8) translate(50vw, 30vh) rotate(20deg);
  }
  100% {
    transform: scale(1) translate(1vw, 3vh);
  }
}

.blob3 {
  position: absolute;
  top: 60vh;
  left: 50vw;
  fill: #ff5b10;
  width: 50vmax;
  z-index: -1;
  animation: move3 50s ease-in-out infinite;
  transform-origin: 10% 10%;
}

@keyframes move3 {
  0% {
    transform: scale(1) translate(1vw, 3vh);
  }
  15% {
    transform: scale(1.1, 1.3) translate(10vw, -20vh) rotate(-40deg);
  }
  55% {
    transform: scale(0.8, 1.2) translate(-30vw, -50vh) rotate(120deg);
  }
  70% {
    transform: scale(1.3, 0.7) translate(-50vw, -20vh) rotate(30deg);
  }
  85% {
    transform: scale(1.1, 1.3) translate(-10vw, -30vh) rotate(40deg);
  }
  100% {
    transform: scale(1) translate(1vw, 3vh);
  }
}

.blobs-container {
  position: initial;
}

@media only screen and (max-width: 768px) {
  .background-wrapper {
    overflow: hidden;
    position: fixed;
  }
}
